* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  /*background-color: #413543;*/
}

#container {
  min-height: 100vh;
  /* border: 2px solid black; */
  overflow: hidden;
}

:root {
  --primary-color: #611bf5;
  --secondary-color: #000;
  --third-color: #fcfdf2;
  --light: #f9f9f9;
  --blue: #3c91e6;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
}

/* this is for the header */

/*it is for all the nav-links in the navbar*/
ul.nav-links {
  /*border: 2px solid deeppink;*/
  display: flex;
  margin-left: 2rem;
  flex-wrap: wrap;
}

.li-link {
  /* border: 2px solid black; */
  list-style-type: none;
  padding: 0.4rem;
  margin-right: 2rem;
}

.header {
  min-height: 10vh;
  /*border: 2px solid blue;*/
  width: 100%;
}

.nav-bar {
  display: flex;
  min-height: 10vh;
  width: 100%;
  align-items: center;
  /*background-color: var(--nav-color);*/
  justify-content: space-around;
  flex-wrap: wrap;
}

.sidebar-toggle img 
{
  display: none;
}

.sidebar 
{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--dark);
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  transform: translate(-100%);
}

.show-sidebar {
  transform: translate(0);
  width: 400px;
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  color: white;
}

.close-btn {
  font-size: 1.2rem;
  background: transparent;
  border-color: transparent;
  color: rgb(212, 255, 0);
  cursor: pointer;
}

.close-btn:hover {
  color: white;
  transform: rotate(360deg);
}

.nav-list a {
  display: block;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  color: white;
  transition: 0.2s ease-in-out;
}

/* for the form styling fonts */
.social {
  width: 100%;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
#go {
  background-color: rgba(0, 128, 0, 0.473);
}
#fb {
  background-color: var(--primary-color);
}

/* for the form stylying fonts */

/* integrated styling */
button.sign-Up,
button.login {
  padding: 8px 20px 8px 20px;
  /* border: none; */
  border-radius: 3px;
  color: var(--third-color);
}
#learn_More {
  padding: 8px 20px 8px 20px;
  /* border: none; */
  border-radius: 3px;
  color: var(--third-color);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

button.sign-Up {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

button.login {
  /* background-color: none; */
  color: black;
  border: 1px solid var(--primary-color);
  background-color: white;
}

button.login:hover {
  background-color: var(--primary-color);
  color: white;
  transition: 0.4s ease-in-out;
}
#learn_More a {
  color: var(--third-color);
  text-decoration: none;
}
a.anchor-nav-links {
  /* font-weight: bold; */
  text-decoration: none;
  /* margin: 0.3rem; */
  cursor: pointer;
  position: relative;
  padding-bottom: 0.4rem;
  color: var(--secondary-color);
}

/* for the animation of the navbar links*/
.anchor-nav-links:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

.anchor-nav-links:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/* end of animation feature */

/* start of the home section */
#home-section {
  display: flex;
  /* border: 2px solid purple; */
  min-height: 50vh;
  padding: 2rem 0 2rem 0;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  margin-top: 3rem;
}

#home-section .text {
  /* border: 2px solid rebeccapurple; */
  display: grid;
  place-items: center;
  margin-right: 0.8rem;
  /* flex-basis: 50%; */
}

#home-section .text .description {
  margin-left: 2rem;
}
#main-content {
  margin: 0 3rem 0 3rem;
}

rect {
  border-radius: 5px;
}

.svg-img {
  z-index: 10;
  overflow: visible;
}

.img-container {
  /* border: 2px solid red; */
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  position: relative;
}

/* Apply the animation to the bus image */
.bus-image:hover {
  animation: move-bus 1s ease-in-out infinite;
}

.box-container {
  height: 318px;
  width: 336px;
  background-color: var(--primary-color);
  border-radius: 4px;
}

img.bus-image {
  position: absolute;
  left: -2rem;
  top: 3rem;
}

/* Create the keyframe animation */
@keyframes move-bus {
  0% {
    left: 0;
  }

  50% {
    left: 20px;
  }

  100% {
    left: 0x;
  }
}

/* Apply the animation to the bus image */
.bus-image:hover {
  animation: move-bus 1s ease-in-out infinite;
}

/* end of the home section */

/* start of the about section */

#about {
  min-height: 50vh;
  margin-top: 5.2rem;
  /* border: 2px solid red; */
}

.illustration-about {
  width: 400px;
  height: 400px;
}

.container-student,
.container-admin {
  display: flex;
  justify-content: space-around;
  /* flex-basis: 50%; */
  flex-wrap: wrap;
  /* border: 2px solid purple; */
}

#about .description {
  display: flex;
  flex-direction: column;
  border-left: 2px solid var(--primary-color);
  flex-basis: 40%;
  padding-left: 2em;
  /* padding-right: 6rem; */
  /* border: 2px solid pink; */
  /* background-color: var(--primary-color); */
}

#about .img-file {
  display: flex;
  justify-content: center;
  /* border: 2px solid red; */
  flex-basis: 40%;
}

.container-admin-img {
  display: flex;
  justify-content: center;
  /* border: 2px solid black; */
  flex-basis: 40%;
  order: 2;
}

.container-admin-des {
  /* border: 2px solid pink; */
  display: flex;
  /* padding: 2rem; */
  flex-basis: 40%;
  order: 1;
  position: relative;
  left: 7rem;
}

/* end of the about section */

/* start of the feature section */
.features {
  min-height: 40vh;
}

.features span {
  display: inline-block;
  padding: 0.5em;
  background-color: #611bf5;
  color: #fff;
  font-weight: bold;
  border-radius: 0.5em;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  row-gap: 1rem;
}
.grid-child {
  /*border: 2px solid seagreen;*/
}

.child-1 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  padding: 4em;
}
.child-2 {
  display: grid;
  place-items: center;
  padding-right: 4em;
}
.child-3 {
  display: grid;
  place-items: center;
}
.child-6 {
  display: grid;
  position: relative;
  place-items: center;
}

figcaption.sign-up-form {
  text-align: center;
}
figcaption span {
  text-align: center;
}
figcaption.dashboard-caption {
  margin-top: 1em;
  display: block;
  padding-left: 3em;
}

/* end of the feature section */

/* start of the footer section */
.container-footer {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: var(--primary-color);
  padding: 70px 0;
  margin-top: 5rem;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  /*color: #bbbbbb;*/
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* end of the footer section */

/*for the sign in code*/

.form-container {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: none;
}

form {
  height: 520px;
  width: 400px;
  /*background-color: var(--secondary-color);*/
  background-color: #e0e0e0;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
#username {
  background-color: var(--third-color);
}

form * {
  /*color: #ffffff;*/
  letter-spacing: 0.5px;
  outline: none;
  border: none;
  color: var(--secondary-color);
}
form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: var(--third-color);
  border-radius: 3px;
  /*border: 2px solid var(--secondary-color);*/
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: var(--secondary-color);
}
button.Login-button {
  margin-top: 50px;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--third-color);
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.social {
  margin-top: 30px;
  display: flex;
}
.social div {
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background: rgba(255, 255, 255, 0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover {
  background-color: rgba(255, 255, 255, 0.47);
}
.social .fb {
  margin-left: 25px;
}
.social i {
  margin-right: 4px;
}

/* end of the sign in code*/

/* start of the sign up code */

/* center sign up container */
.sign-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  visibility: hidden;
}
.title-signUP h2 {
  margin-bottom: 2em;
}

/* style form container */
.form-form {
  /* background-color: #ffffff; */
  /* border-radius: 5px; */
  padding: 20px;
  /* min-height: 50vh; */
  display: none;
}

#sign-in-form
{
  /* background-color: ; */
}

/* style title */
.title-signUP h2 {
  text-align: center;
  color: #333;
  border-bottom: #611bf5;
}

/* style form content */
.form-content {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  width: 50%;
}

/* style input fields */
form input[type="text"],
form input[type="number"],
form input[type="email"] {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #e0e0e0;
}

.content-1,
.content-2,
.content-3,
.content-4 {
  display: flex;
  /*flex-direction: column;*/
}

/* style submit button */
.btn button[type="submit"] {
  display: block;
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #611bf5;
  color: #fff;
  cursor: pointer;
  width: 100%;
}

.btn button[type="submit"]:hover {
  background-color: #4e25a7da;
}

form input[type="text"]:focus,
form input[type="number"]:focus,
form input[type="email"]:focus {
  /*border-color: #611BF5;*/
  outline: none;
}

/* style labels */
label {
  /* font-weight: bold; */
  margin-bottom: 5px;
  display: block;
}

/* style individual input fields */
.name-input,
.parent-input,
.phone-input,
.relationship-input,
.person_email,
.roll-input,
.location-student,
.parent-no {
  min-width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

/* start of the sign up code */

svg {
  top: -77px;
  position: relative;
}

/* for responsiveness  */
@media screen and (min-width: 992px) {
  ul.nav-links {
    /*border: 2px solid deeppink;*/
    display: flex;
    margin-left: 1rem;
    flex-wrap: wrap;
  }

  .header {
    min-height: 10vh;
    /*border: 2px solid blue;*/
    width: 100%;
  }

  .nav-bar {
    display: flex;
    min-height: 10vh;
    width: 100%;
    align-items: center;
    /*background-color: var(--nav-color);*/
    justify-content: space-around;
    flex-wrap: wrap;
  }

  /* integrated styling */
  button.sign-Up,
  button.login {
    padding: 8px 20px 8px 20px;
    /* border: none; */
    border-radius: 3px;
    color: var(--third-color);
  }

  button.login {
    color: var(--secondary-color);
  }

  #learn_More a {
    color: var(--third-color);
    text-decoration: none;
  }
  a.anchor-nav-links {
    /* font-weight: bold; */
    text-decoration: none;
    /* margin: 0.3rem; */
    cursor: pointer;
    position: relative;
    padding-bottom: 0.4rem;
    color: var(--secondary-color);
  }

  /* for the animation of the navbar links*/
  .anchor-nav-links:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
  }

  .anchor-nav-links:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}

/* for large screens  */
@media only screen and (min-width: 600px) and (max-width: 992px) {
  /* settting the navbar to none  */
  .nav-bar {
    display: none;
  }

  .sidebar-toggle img {
    display: flex;
    margin: 1rem;
    padding: 1rem;
  }
  .nav-list a {
    text-decoration: none;
  }
  .btn-container {
    /* min-height: 30vh; */
    display: flex;
    justify-content: center;
    margin-bottom: 15rem;
  }

  .btn-container button {
    margin-right: 0.4rem;
  }

  /* integrated styling */
  button.sign,
  button.log {
    padding: 8px 20px 8px 20px;
    /* border: none; */
    border-radius: 3px;
    color: var(--third-color);
  }

  #learn_More {
    padding: 8px 20px 8px 20px;
    /* border: 2px solid red; */
    border-radius: 3px;
    color: var(--third-color);
    background-color: var(--primary-color);
  }

  button.sign {
    background-color: var(--primary-color);
  }

  button.log {
    /* background-color: none; */
    color: black;
    border: 1px solid var(--primary-color);
    background-color: white;
  }

  button.log:hover {
    background-color: var(--primary-color);
    color: white;
    transition: 0.4s ease-in-out;
  }

  /* start of the home section */
  #home-section {
    display: flex;
    /* border: 2px solid purple; */
    min-height: 50vh;
    padding: 2rem 0 2rem 0;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    margin-top: 3rem;
  }

  #home-section .text {
    /* border: 2px solid rebeccapurple; */
    display: grid;
    place-items: center;
    /* margin-right: 0.8rem; */
    order: -1;

    /* flex-basis: 50%; */
  }

  #home-section .text .description {
    margin-left: 1rem;
    overflow: hidden;
  }
  #main-content {
    margin: 0 3rem 0 3rem;
  }

  rect {
    border-radius: 5px;
  }

  .svg-img {
    /* z-index: 10; */
    /* overflow: visible; */
  }

  .img-container {
    /* border: 2px solid red; */
    flex-basis: 40%;
    display: flex;
    margin-bottom: 2rem;
    /* justify-content: center; */
    /* position: relative; */
  }

  /* Apply the animation to the bus image */
  .bus-image:hover {
    animation: move-bus 1s ease-in-out infinite;
  }

  .box-container {
    height: 250px;
    width: 250px;
    background-color: var(--primary-color);
    border-radius: 4px;
    border: 2px solid yellow;
  }

  img.bus-image {
    position: absolute;
    left: -3rem;
    top: 1rem;
    width: 300px;
    height: 300px;
  }



  /* start of the about section */

  #about {
    min-height: 50vh;
    margin-top: 5.2rem;
    /* border: 2px solid red; */
  }

  .illustration-about {
    width: 300px;
    height: 300px;
  }

  .container-student,
  .container-admin {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
  }

  #about .description {
    display: flex;
    flex-direction: column;
    border: none !important;
    flex-basis: 40%;
  }

  .container-admin-des
  {
    padding-right: 3rem !important;
    padding: 0 !important;
    flex-basis: 30% !important;
  }

  .container-admin-img
  {
    flex-basis: 70%;
  }
  .container-admin
  {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between ;
  }


  /* start of the feature section */
.features {
    min-height: 40vh;
  }
  
  .features span {
    display: inline-block;
    padding: 0.5em;
    background-color: #611bf5;
    color: #fff;
    font-weight: bold;
    border-radius: 0.5em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    row-gap: 1rem;
  }
  
  .child-1 {
    display: grid;
    place-items: center;
    overflow: hidden;
    position: relative;
  }

  .img-container-sign-up img
  {
    /* border: 2px solid black; */
    width: 300px;
    height: 300px;  
  }

  .child-2 {
    display: grid;
    place-items: center;
    padding-right: 4em;
  }
  .child-3 {
    display: grid;
    place-items: center;
  }
  .child-6 {
    display: grid;
    position: relative;
    place-items: center;
  }
  
  figcaption.sign-up-form {
    text-align: center;
  }
  figcaption span {
    text-align: center;
  }
  figcaption.dashboard-caption {
    margin-top: 1em;
    display: block;
    padding-left: 3em;
  }
  
  /* end of the feature section */
  

}
